@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variable Property */
:root {
  --primary-color: #3a3a3a;
  --title-color: #18191f;
  --price-color: rgba(0, 0, 0, 0.87);
  --description-color: #787885;
  --bg-primary: #ffffff;
  --bg-secondary: #0a0826;
  --color-btn: #e02c6d;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

/* Initial Setup */
* {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
header,
main {
  max-width: 1110px;
  margin: 0 auto;
}
header,
main {
  background-color: var(--bg-primary);
}

/* //////////////////////////
//////// Header Styles /////
//////////////////////////*/

/* Nav Section */
.nav {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.brand h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav-items {
  gap: 34px;
}
.nav-item {
  list-style: none;
  cursor: pointer;
}
.nav-list {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

/* Banner Section */
.banner {
  justify-content: space-between;
  align-items: center;
  gap: 130px;
  margin-top: 50px;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.3rem;
  color: var(--primary-color);
}
.banner-description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}
.banner-img {
  position: relative;
}
.img-circle img {
  width: 100%;
}
.img-camera img {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
}
.banner-content button {
  background-color: var(--color-btn);
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 16px;
}

/* Sponsor Section */
.sponsor {
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

/* /////////////////////////////
///////// Main Section /////////
///////////////////////////// */

/* Product Section */
.products {
  max-width: 1050px;
  margin: 0 auto;
}
.product-section-title {
  font-size: 1.75rem;
  line-height: 4.3rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-top: 100px;
  text-align: center;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  justify-items: center;
}
.product-card {
  padding: 15px;
  /* max-height: 480px; */
  /* max-width: 330px; */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product-card img {
  width: 100%;
}
.product-title {
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: var(--title-color);
  margin-top: 16px;
  margin-bottom: 6px;
}
.product-price {
  line-height: 150%;
  font-size: 1.5rem;
  color: var(--price-color);
  font-family: 'Inter', serif;
}
.product-rating {
  font-size: 0.8rem;
  font-weight: 700;
  color: #5e6366;
  font-family: 'Roboto', serif;
  line-height: 1.4rem;
  margin-top: 6px;
}
.product-rating .fa-solid {
  color: #fb8200;
}
.product-description {
  color: #787885;
  font-family: 'Inter', serif;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.see-more {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(224, 44, 109, 0.87);
  margin-top: 50px;
  text-align: right;
}

/* Feature Section */
.feature {
  gap: 95px;
  align-items: center;
  margin-top: 50px;
}
.feature img {
  width: 100%;
}
.feature-title {
  font-size: 2.3rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--bg-secondary);
}
.feature-description {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #6c6c6c;
}
.btn-feature {
  border: none;
  padding: 10px 25px;
  background-color: #e02c6d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 16px;
  border-radius: 8px;
}

/* /////////////////////////////
//////// Footer Section ////////
///////////////////////////// */
footer {
  background-color: #0a0826;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.footer {
  margin: 50px auto;
  text-align: center;
  color: #ffffff;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-description {
  font-size: 0.8rem;
  color: #d9dbe1;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: 'Manrope', serif;
}
.icon-box {
  gap: 16px;
  justify-content: center;
  margin-top: 18px;
}
.icon-box fa-brands {
  height: 32px;
  width: 32px;
}

/* /////////////////////////////
//////// Responsive Design /////
///////////////////////////// */

/* Small Device */
@media screen and (max-width: 576px) {
  header,
  main {
    padding: 10px;
  }
  .nav,
  .nav-items,
  .banner {
    flex-direction: column;
  }
  .banner-content {
    text-align: center;
  }
  .product-container {
    grid-template-columns: 1fr;
  }
  .feature {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header,
  main {
    padding: 10px;
  }
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
